extends user_dash 


block content 
 article(class="create-article")
  h1() create new article: 
  form(action="/user/dashboard/create_article", method="post", class="create-article-form", id="create-article-form-ident", enctype="multipart/form-data") 
   label() author name: 
    input(type="text", name="author_pen_name", id="create-article-pen-name")
   label() title of article: 
    input(type="text", name="title", id="create-article-title")
   label(class="create-article-description-label", id="create-article-d") description: 
    textarea(name="description", cols="30", rows="10", class="create-article-description", id="create-article-description-ident")
   label() HTML file: 
    input(type="file", name="article_file", id="create-article-file")
   label(class="create-article-content") text content: 
    textarea(cols=40, rows=30, name="article_content", class="create-article-content") 
   input(type="submit", value="create article", class="submit-button")

