extends layout 

block header 
  form(action="/login", method="get") 
   input(type="submit", value="login")
  form(action="/signup", method="get")
   input(type="submit", value="sign up") 
block navigation 
  
block content


block footer 
    