doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    header()
     block header 

    main()
     nav()
      block navigation
      
     block content

    footer()
     block footer 

