doctype html
html 
  head
    title=title
    link(rel="stylesheet", href=style)
    script(src=js, type="module")
  body

    header()
     block header 

    main()
     nav()
      block navigation
      
     block content

    footer()
     block footer 

