doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    header()
     block header 

    
    nav()
     block navigation 

    main()
     block content

    footer()
     block footer 

