extends layout 

block header 
 // logo goes here now placeholder
 section()
 
block navigation 

block content 
 p=message
 article(class="login-page")
  h1() Log In: 
  form(action="/login", method="post", class="creds-feild") 
   label() username: 
    input(type="text", name="username")
   label() password: 
    input(type="text", name="password")
   input(type="submit", value="sign in", class="sign-in-button")
   
  h1() dont have an account? 
  form(action="/signup", method="get")
   input(type="submit", value="sign up") 
  h1() continue as guest: 
  form(action="/guest", method="get")
   input(type="submit", value="continue as guest") 


 
block footer 
 section()