extends layout 


block content 
 p=message
 form(action="/login", method="post") 
  label() username: 
   input(type="text", name="username")
  label() password: 
   input(type="text", name="password")
  input(type="submit", value="sign in")

 h1() dont have an account? 
 form(action="/signup", method="get")
  input(type="submit", value="sign up") 

 form(action="/guest", method="get")
  input(type="submit", value="continue as guest") 