extends layout 

block content 
 p=message
 p() already have an account?: 
 form(action="/login", method="get") 
  input(type="submit", value="login")
 form(action="/signup", method="post") 
  label() username: 
   input(type="text", name="username")
  label() password: 
   input(type="text", name="password")
  label() confirm password: 
   input(type="text", name="confirm_password")
  label() email:  
   input(type="email", name="email")
  input(type="submit", value="Sign Up")
