extends layout 

block header 
  section(class="logo")
  form(action="/user/", method="get") 
   input(type="submit", value="home")

block navigation 
 form(action="/user/logout", method="post")
  input(type="submit", value="logout") 
 

block content 
 