extends layout 

block header 
  section(class="logo")
  form(action="/user/", method="get") 
   input(type="submit", value="home")

block navigation  
 form(action="/user/dashboard", method="get")
  input(type="submit", value="dashboard")
 form(action="/user/search_article", method="get")
  input(type="submit", value="search for article")
 form(action="/user/search_user", method="get")
  input(type="submit", value="search for user")
 form(action="/user/subscribed_to", method="get")
  input(type="submit", value="subscribed")
 form(action="/user/subscribers", method="get")
  input(type="submit", value="subscribers")
 
block content
 

block footer 
 