extends layout 

block header 
  section(class="logo")
  form(action="/user/", method="get", class="home-btn-form") 
   input(type="submit", value="home", class="home-btn")

block navigation  
 form(action="/user/dashboard", method="get")
  input(type="submit", value="dashboard", class="nav-dash-btn")
 form(action="/user/search_article", method="get")
  input(type="submit", value="search for article")
 form(action="/user/search_user", method="get")
  input(type="submit", value="search for user")
 form(action="/user/subscribed_to", method="get")
  input(type="submit", value="subscribed")
 form(action="/user/subscribers", method="get")
  input(type="submit", value="subscribers")
 
block content
 article(class="main-user-view")
  h1(class="recommended-articles-label") recommended articles
  ul(class="article-list") 
   if recommended
    each item in recommended 
     li() 
      a(class="no-style-a", href="/user/article/" + item._id)
       div(class="article-widget")
        p(class="article-widget-title")  #{item.title}
        if item.description 
         p(class="article-widget-description") #{item.description}
        p(class="article-widget-likes")  #{"likes: " + item.likes.length}
        p(class="article-widget-dislikes") #{ "dislikes: " + item.dislikes.length}


block footer 
 